* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #192533;
  padding: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
  margin: 0 10px;
}

body {
  font-family: "Verdana", sans-serif;
  background-color: #f7f6cf;
  color: #333;
  line-height: 1.6;
}

h1 {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin-top: 50px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

h2 {
  color: #5784ba;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  color: #333;
  font-size: 1em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.newsletter-form {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.newsletter-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.newsletter-form input[type="email"] {
  width: calc(100% - 42px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.newsletter-form input[type="submit"] {
  background-color: #5784BA;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
